RewriteEngine On

# Pokud soubor nebo složka existuje, použij ji přímo
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Jinak přesměruj na index.php
RewriteRule ^ index.php [QSA,L]